*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    

}

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 0, 24);
    
    overflow-x: hidden;
}

/* Navigation Styling ==================== */
.nav-bar{
   display: flex;
   width: 100vw;
   font-weight: 700;
   font-size: larger;
   justify-content: flex-start;
   gap: 1em;
   padding: .5em;
   position: absolute;
   z-index :2;
   color: white;
   
}

.nav-items{
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: transform 250ms ease-in;
}

.nav-items::after{
    content: " ";
    height: 3px;
    width: 0%;
    display:block;
    background-color: rgb(255, 255, 255);
    transition: all 250ms ease-in;
}

.nav-items:hover::after{
    width: 100%;


}

.nav-items:hover{
    transform: translateY(-5px);
}

.login{
    margin-left: auto;
    
}

.signup{
    margin-right: 3em;
}

/* ================================== */


.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}

.fullscreen-video-wrap{
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    object-fit:cover;
    width: 100%;
  

    
    z-index :0;
}

.header-overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    filter: opacity(0.85);
    z-index: 1;
}

.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    /* width: min-content; */
    z-index: 5;


    left: 0;
    top: 25%;
    margin-left: 3em;

    color: rgb(255, 255, 255);
    font-size: 1em;
    padding: 1em;
    border-radius: 5px;
    animation: slide-in 1s ease 0ms 1 normal;

}

.secondary-content{
    height: 50em;
    width: 100vw;
    
}

.light{
    font-weight: lighter;
    width: max-content;
}

.first-line, .second-line{
    color: rgb(196, 196, 196)
}

.first-line{
    margin: 0;
}

.second-line{
    display: flex;
    width: 300px;
    flex-wrap:wrap;
    font-size: medium;
    margin-top: 1em;
    margin-bottom: 2em;
    
}

@keyframes slide-in {
    0%{
        transform: translateX(-90px);
        filter: opacity(0)
    }
    100%{
        transform: translateX(0);
        filter:opacity(1)
    }
    
}

.get-started{
    border: none;
    padding: 1em 3em;
    border-radius: 10px;
    margin-top: 2em;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: large;
    background-color: blueviolet;
    cursor: pointer;
    transition: background-color 200ms ease, color 200ms ease;
}

.get-started:hover{
   
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}

.partner-title{
    font-size: 3em;
    padding: 1em 0 2em 2em;
    font-weight: lighter;

}

hr{
    color: blueviolet
}


.partners-grid{
    display: grid;
    margin: 0em 5em;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    justify-content: space-around;
    gap: 1em;

}

.partner-img{
    object-fit:cover;
    overflow: hidden;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.partners-grid-items{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
    max-width: 15em;
    z-index: 1;
    
    border-radius: 15px;
    color: rgb(255, 255, 255);
    transition: transform 200ms ease;
    
}
.partners-grid-items::before{
    content: " ";
    background-color: rgba(0, 0, 0,0);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    z-index: -2;
    filter: blur(0px);
    transition: all 200ms ease;
    /* display: none; */
    
}

.partners-grid-items:hover{
   transform: scale(1.3);
   z-index: 3;
    
}

.partners-grid-items:hover::before{
    background-color: rgba(0, 0, 0,0.7);
    filter: blur(15px);
    height: 120%;
    width: 120%
    
}

.partner-name{
    align-self: flex-start;
    margin-top: 0.5em;
    font-weight: bold;
}

.tags{
    position: absolute;
    transition: transform 200ms ease;
    padding: 0.2em;
    font-size: small;
    border-radius: 15px;
    background-color: rgb(255, 76, 76);
    z-index: -1;
    transition: transform 200ms ease, z-index 0ms ease-in-out 100ms;
    cursor: pointer;
    
}

.tags:hover{
    
    background-color: rgb(105, 105, 105);
    
    
}

.second{
    transition-delay: 100ms;

}
.third{
    transition-delay: 200ms;

}

.partners-grid-items:hover > .first{
    transform: translate(90px, -120px);
    z-index: 2;

    
}

.partners-grid-items:hover > .second{
    transform: translate(90px, -85px);
    z-index: 3;

    
}
.partners-grid-items:hover > .third{
    transform: translate(90px, -55px);
    z-index: 3;

    
}
